dcargs==0.0.12
flax==0.3.4
jax==0.2.20
jaxlib==0.1.71
jax_dataclasses==1.5.1
jaxlie==1.3.0
matplotlib==3.4.1
networkx==2.6.2
numpy==1.21.1
open3d==0.11.2
overrides==6.0.1
pandas==1.2.4
python_igraph==0.10.3
PyYAML==6.0
scipy==1.6.3
seaborn==0.11.1
tensorflow==2.7.0
scikit-learn
git+ssh://git@github.com/brentyi/jaxfg.git@069e124b23029d384ba026bc29a75ad741ce31a9
sturm_articulation-0.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
